$color-kilamanjaro: #180F01;

body {
  background: #FFFBF5;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $color-kilamanjaro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
  h1 {
    font-size: 3em;
    text-align: center;
  }
  nav {
    margin: 50px 0;
  }
  .nav-item {
    display: inline-block;
    font-size: 1.2em;
    color: $color-kilamanjaro;
    text-decoration: none;
    padding: 3px;
    margin: 7px;
    &.router-link-exact-active {
      border-bottom: 3px solid $color-kilamanjaro;
    }
  }
  .input {
    background: transparent;
    padding: 15px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid $color-kilamanjaro;
    &-number {
      -moz-appearance:textfield;
      -webkit-appearance: none;
    }
  }
  .custom-select {
    background: transparent url('assets/arrow.svg') center right no-repeat;
    padding: 15px 30px 15px 15px;
    border: 1px solid $color-kilamanjaro;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
}
